<!-- Footer -->
<footer class="bg-primary text-white mt-5 py-4" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5><i class="fas fa-store"></i> Tạp Hóa NHT</h5>
                <p>Mã sinh viên: 2310900112<br>
                    Lớp: K23CNT3<br>
                    Địa chỉ: Hà Nội</p>
            </div>
            <div class="col-md-4">
                <h5><i class="fas fa-link"></i> Liên kết</h5>
                <ul class="list-unstyled">
                    <li><a th:href="@{/}" class="text-white text-decoration-none">Trang chủ</a></li>
                    <li><a th:href="@{/sanpham}" class="text-white text-decoration-none">Sản phẩm</a></li>
                    <li><a th:href="@{/donhang/track}" class="text-white text-decoration-none">Tra cứu đơn hàng</a></li>
                    <li><a th:href="@{/giohang}" class="text-white text-decoration-none">Giỏ hàng</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5><i class="fas fa-info-circle"></i> Hỗ trợ</h5>
                <p><i class="fas fa-phone"></i> Hotline: 0328942958<br>
                    <i class="fas fa-envelope"></i> Email: nht2310900112@gmail.com<br>
                    <i class="fas fa-university"></i> MB Bank: 0328942958<br>
                    <i class="fas fa-clock"></i> Giờ làm việc: 8:00 - 22:00</p>
            </div>
        </div>
        <hr class="bg-white">
        <div class="text-center">
            <p class="mb-0">© 2024 Tạp Hóa NHT - Nguyễn Hữu Tuấn. All rights reserved.</p>
        </div>
    </div>
</footer>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script xmlns:th="http://www.w3.org/1999/xhtml" th:src="@{/js/main.js}"></script>
</body>
</html>